@model IEnumerable<Pet.Database.Entities.Message>

@{
    ViewBag.Title = "GetMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetMessages</h2>

<p>
    @Html.ActionLink("Send new", "SendMessage", new { id = ViewBag.ConversationId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConversationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Read)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConversationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Read)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
